{% extends "layout.njk" %}

{% block title %}
ユーザ 
{% endblock title %}

{% block main %}
<h1>ユーザ</h1>
<form action="/users" method="post">
  <label for="eid" class="form-label">学生番号</label>
  <input type="text" id="eid" name="eid" class="form-control">
  <button class="btn btn-primary my-2">実行</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">番号</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for item in items %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.eid }}</td>
        <td>{{ item.isActive }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock main %}