{% extends "layout.njk" %}

{% block title %}
トップページ 
{% endblock title %}

{% block main %}
<div>
  <form action="/register" method="get">
    <button class="btn btn-primary btn-lg my-2">登録ページ</button>
  </form>
  <h1>表示</h1>
  <form action="/users" method="get">
    <button class="btn btn-primary my-2">ユーザ</button>
  </form>
  <form action="/klasses" method="get">
    <button class="btn btn-primary my-2">クラス</button>
  </form>
</div>
{% endblock main %}