{% extends "layout.njk" %}

{% block title %}
トップページ 
{% endblock title %}

{% block main %}
<div>
  <h1>表示</h1>
  <form action="/users" method="get">
    <button class="btn btn-primary my-2">ユーザ</button>
  </form>
  <form action="/klasses" method="get">
    <button class="btn btn-primary my-2">クラス</button>
  </form>
  <form action="/levels" method="get">
    <button class="btn btn-primary my-2">レベル</button>
  </form>
  <form action="/courses" method="get">
    <button class="btn btn-primary my-2">課</button>
  </form>
  <form action="/programs" method="get">
    <button class="btn btn-primary my-2">プログラム</button>
  </form>
</div>
{% endblock main %}