<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>App</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="firstname">名前</label>
      <input type="text" id="firstname" name="firstName">
      <label for="lastname">苗字</label>
      <input type="text" id="lastname" name="lastName">
      <button>実行</button>
    </form>
  </body>
</html>