{% extends "layout.njk" %}

{% block title %}
{{ program.title }}
{% endblock title %}

{% block main %}
<div>
  <p>{{ program.classId }}</p>
  <p>{{ program.courseNumber }}</p>
</div>
{{ program.html | safe }}
{% endblock main %}