{% extends "layout.njk" %}

{% block title %}
登録
{% endblock title %}

{% block main %}
<div>
  <h1>ユーザ</h1>
  <form action="/users" method="post">
    <label for="eid" class="form-label">学生番号</label>
    <input type="text" id="eid" name="eid" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>クラス</h1>
  <form action="/klasses" method="post">
    <label for="season" class="form-label">季節</label>
    <input type="text" id="season" name="season" class="form-control">
    <label for="name" class="form-label">名前</label>
    <input type="text" id="name" name="name" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>レベル</h1>
  <form action="/levels" method="post">
    <label for="value" class="form-label">値</label>
    <input type="text" id="value" name="value" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>課</h1>
  <form action="/courses" method="post">
    <label for="klass-id" class="form-label">値</label>
    <input type="text" id="klass-id" name="klassId" class="form-control">
    <label for="number" class="form-label">番号</label>
    <input type="text" id="number" name="number" class="form-control">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" id="title" name="title" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>プログラム</h1>
  <form action="/programs" method="post">
    <label for="klass-id" class="form-label">授業</label>
    <input type="number" id="klass-id" name="klassId" class="form-control">
    <label for="course-number" class="form-label">課</label>
    <input type="number" id="course-number" name="courseNumber" class="form-control">
    <label for="level-id" class="form-label">レベル</label>
    <input type="number" id="level-id" name="levelId" class="form-control">
    <label for="exercise-number" class="form-label">Exercise</label>
    <input type="number" id="exercise-number" name="exerciseNumber" class="form-control">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" id="title" name="title" class="form-control">
    <label for="html" class="form-label">HTML</label>
    <input type="text" id="html" name="html" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
</div>
{% endblock main %}
