{% extends "layout.njk" %}

{% block title %}
登録
{% endblock title %}

{% block main %}
<div>
  <h1>ユーザ</h1>
  <form action="/users" method="post">
    <label for="eid" class="form-label">学生番号</label>
    <input type="text" id="eid" name="eid" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>クラス</h1>
  <form action="/klasses" method="post">
    <label for="season" class="form-label">季節</label>
    <input type="text" id="season" name="season" class="form-control">
    <label for="name" class="form-label">名前</label>
    <input type="text" id="name" name="name" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
  <h1>レベル</h1>
  <form action="/levels" method="post">
    <label for="value" class="form-label">値</label>
    <input type="text" id="value" name="value" class="form-control">
    <button class="btn btn-primary my-2">実行</button>
  </form>
</div>
{% endblock main %}
